$black: #000;
$red: #f00;
$orange: #ffa500;
$yellow: #ff0;
$lightgreen: #90ee90;
$green: #008000;
$darkgreen: #006400;
$darkblue: #00008b;
$blue: #00f;
$cyan: #0ff;
$lightblue: #add8e6;
$white: #fff;
$purple: #800080;
$hotpink: #ff69b4;
$pink: #ffc0cb;
$brown: #a52a2a;
$firebrick: #b22222;
