
@baseFontSize: 16px;
@mainFontFamily: Sans-Serif;
@iconFont: FontAwesome;

//* -- grid -- */
@siteWidth: 1024px;
@gutter: 30px;
@halfGutter: (@gutter / 2);
@nbrColumns: 12;


@smallGutter: 10px;
//* -- /grid -- */

@mainSectionPadding: 20px;

//* -- colors -- */

@fontColor: #000;
@link-color: blue;

@mainBodyBg: #fff;
@mainBorderColor: #ccc;

@headerBg: #ffa500;
@footerBg: #006400;

@codePreBgColor: #e2e2e2;

//* -- /colors -- */