
@baseFontSize: 10px;
@mainFontFamily: Verdana, Arial;
@iconFont: FontAwesome;

/* -- grid -- */
@siteWidth: 960px;
@gutter: 20px;
@nbrColumns: 12;

@smallGutter: 10px;
/* -- /grid -- */

@mainSectionPadding: 20px;

/* -- colors -- */

@fontColor: #000;

@mainBorderColor: #ccc;

@headerBg: #ffa500;
@footerBg: #006400;

/* -- /colors -- */