.google-map {
	+ .markers-list {
		$box-shadow-color: rgba(0, 0, 0, .5);
		$box-shadow: 8px;

		@include reset-list();
		@include rem-font(10px);

		background: $white;
		border: solid 1px $main-border-color;
		box-shadow: $box-shadow $box-shadow $box-shadow 0 $box-shadow-color;
		overflow: auto;
		padding: 10px;
		position: absolute;

		li {
			margin-bottom: 5px;
			min-height: 52px;
			padding-left: 50px;
			position: relative;
		}

		li:hover {
			background-color: $main-border-color;
		}

		li,
		a,
		h2,
		p {
			text-decoration: none;
		}

		p {
			color: $font-color;
		}

		a {
			display: block;
			padding-top: 3px;
		}
	}

	&.map1 {
		$dims: 200px;

		height: $dims;
		width: $dims;
	}

	&.map2 {
		height: 300px;
		width: 400px;
	}

	&.map3 {
		height: 200px;
		width: 300px;
	}

	&.map4 {
		display: block;
		height: 500px;
		width: auto;
	}

	&.map5 {
		display: block;
		height: 300px;
		width: auto;
	}
}
