header {
    @bgColor: @headerBg;

    background-color: @bgColor;
    padding: @mainSectionPadding;

    .icon-logo {
        text-decoration: none;
        text-shadow: 0px 0px 5px darken(@bgColor, 50%);

        &:before {
            float: left;
            font-size: 2em;
            line-height: 1em;
            margin-top: -0.08em;
            padding-right: 0.1em;
        }
    }

    a {
        color: #ffffff;
    }
}
