/// <reference path="../vars/vars.less" />

header { 
    padding: @mainSectionPadding;
    background-color: @headerBg;

    .icon-logo {
        text-decoration: none;

        &:before {
            font-size: 2em;
            color: @fontColor;
            float: left;
            line-height: 1em;
            margin-top: -0.08em;
            padding-right: 0.1em;
        }
    }

    a {
        color: @fontColor;
    }
}
