/// <reference path="../vars/vars.less" />
/// <reference path="../mixins/static.mixins.less" />

nav,
.nav {
    ul { 
        .resetList();
    }
    
    a {
        color: @fontColor;
        text-decoration: none;
    }

    &.submenu {
        a {
            &:before {
                font-family: @iconFont;
                content: "\f054 ";
                font-size: 0.7em;
                line-height: 1.6;
                margin-right: 0.5em;
            }
        }
    }
}