.blur (@blur: 0) {
    -ms-filter: blur(@blur);
    filter: blur(@blur);
}

[class*='blur-test'] {
    overflow: hidden;
}

.blur-test-10 {
    .blur(10px);
}

.blur-test-15 {
    .blur(15px);
}

.blur-test-20 {
    .blur(20px);
}
