/// <reference path="../vars/vars.less" />
/// <reference path="../mixins/font.mixins.less" />

.formStuff {
    fieldset {
        & > label,
        & > .radio-buttons {
            padding-bottom: @halfGutter;
            border-bottom: solid 1px @mainBorderColor;
            margin-bottom: @halfGutter;
        }
    }
}