.imageCoverPage {
    .testImageCover {

        & > div {
            border: 1px solid #ffa500;
            box-sizing: border-box;
            margin-bottom: @gutter;
            position: relative;

            &::after {
                background-color: rgba(0, 0, 0, 0.5);
                color: #ffffff;
                font-size: 0.8em;
                left: 0px;
                padding: @halfGutter;
                position: absolute;
                top: 0px;
                white-space: pre;
                width: 100%;
            }
        }

        .first {
            .imageCover();

            width: 70%;

            &::after {
                content: '.imageCover();\00000A (height = auto, width = 100%, background-size = cover)';
            }
        }

        .second,
        .third {
            float: left;
        }

        .second {
            .imageCover(300px, 100%);
            width: 50%;

            &::after {
                content: '.imageCover(300px, 100%);';
            }
        }

        .third {
            .imageCover(300px, 100%, contain);
            width: 50%;

            &::after {
                content: '.imageCover(300px, 100%, contain);';
            }
        }

        .fourth {
            .imageCover(400px);

            clear: both;
            margin: 0px auto @gutter;
            width: 60%;

            &::after {
                content: '.imageCover(400px);';
            }
        }

        .fifth {
            .imageCover(300px, 100%, contain);
            margin: 0px auto @gutter;
            width: 80%;

            &::after {
                content: '.imageCover(300px, 100%, contain);';
            }
        }
    }
}
