@font-face {
  font-family: "icon";
  src: url('/UI/fonts/icon.eot');
  src: url('/UI/fonts/icon.eot?#iefix') format('eot'),
    url('/UI/fonts/icon.woff') format('woff'),
    url('/UI/fonts/icon.woff2') format('woff2'),
    url('/UI/fonts/icon.ttf') format('truetype'),
    url('/UI/fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-logo:before, 
.icon-logo-content { 
    font-family: "icon";
    content: "\ea01";
}