.imageCover(@height: auto, @width: 100%, @size: cover) {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: @size;

    height: @height;
    overflow: hidden;
    position: relative;
    width: @width;

    img {
        display: block;
        opacity: 0.0001;
        width: 100%;

    }

    img.coverHeight {
        width: auto;
    }
}
