
.opacity(@opacity: 0) {
    @ieOpacity: (@opacity * 100);
    @ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";

    opacity: @opacity;

    -ms-filter: "@{ms-filter}"; 
}

.boxSizing(@boxSize: border-box) { 
    box-sizing: @boxSize;
}

.transition(@transition: all 1s ease-in-out) { 
    transition: @transition;
}

.ellipsis() { 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noEllipsis() { 
    overflow: visible;
    white-space: normal;
}