code {
    background-color: #e2e2e2;

    .remFont(15px);

    .comment,
    .multiLineComment {
        color: green;
    }

    .comment {
        &:before {
            content: "//";
        }
    }

    .multiLineComment {
        &:before {
            content: "/*";
        }
        
        &:after {
            content: "*/";
        }
    }

    &.html,
    &.js {
        &:before {
            margin-top: 1em;
            font-weight: bold;
            display: block;
        }
    }

    &.html:before {
        content: "HTML for this example: ";
    }

    &.js:before {
        content: "Javascript for this example: ";
    }
}