/// <reference path="../vars/vars.less" />
/// <reference path="../mixins/static.mixins.less" />
/// <reference path="../mixins/font.mixins.less" />
/// <reference path="../mixins/mixins.less" />

html { 
    font-size: @baseFontSize;
}

body {
    margin: 0;
    padding: 0;

    font-family: @mainFontFamily;
}


h1 {
    .opacity(0.99);
    .remFont(@baseFontSize * 1.5);
}

h2 { 
    .remFont(@baseFontSize * 1.4);
    margin-bottom: 0;
}

h3 {
    .remFont(@baseFontSize * 1.3);
}

h4 {
    .remFont(@baseFontSize * 1.2);
}

h5 {
    .remFont(@baseFontSize * 1.1);
}

h6 {
    .remFont(@baseFontSize);
}

p { 
    margin-top: 0;
}

a {
    color: @link-color;
}

nav,
article,
aside { 
    & > :first-child {
        margin-top: 0;
    }
}

code,
pre { 
    background: @codePreBgColor;
    max-width: 100%;
    overflow: auto;
}