/// <reference path="../vars/vars.less" />
/// <reference path="../mixins/static.mixins.less" />
/// <reference path="../mixins/mixins.less" />

.examplesList {
    @marginPaddingTop: 2em;
    .resetList();

    li { 
        border-top: dashed 3px @mainBorderColor;
        padding-top: @marginPaddingTop; 
        margin-top: @marginPaddingTop;
        overflow: auto;

        h2 {
            margin: 0;
        }
    }
}