/// <reference path="../vars/vars.less" />
/// <reference path="../mixins/static.mixins.less" />
/// <reference path="../mixins/font.mixins.less" />
/// <reference path="../mixins/mixins.less" />

.googleMap {

    + .markersList {
        .resetList();
        position: absolute;
        overflow: auto;
        background: #fff;
        padding: 10px;
        border: solid 1px @mainBorderColor;

        @boxShadow: 8px;
        box-shadow: @boxShadow @boxShadow @boxShadow 0 rgba(0, 0, 0, .5);

        .remFont(10px);

        li {
            position: relative;
            padding-left: 50px;
            min-height: 52px;
            margin-bottom: 5px;

            &:hover {
                background-color: @mainBorderColor;
            }

            &,
            a,
            h2,
            p {
                text-decoration: none;
            }

            p {
                color: @fontColor;
            }

            a {
                display: block;
                padding-top: 3px;
            }
        }
    }

    &.map1 { 
        @dims: 200px;

        width: @dims;
        height: @dims;
    }

    &.map2 { 
        width: 400px;
        height: 300px;
    }

    &.map3 { 
        width: 300px;
        height: 200px;
    }

    &.map4 {
        display: block;
        width: auto;
        height: 500px;
    }
}