/// <reference path="../vars/vars.less" />

.parallax {
    @height: 300px;
    @quarter: (@height / 4);

    height: @height;

    padding: 0;
    margin: 0 auto @gutter;

    overflow: hidden;

    @borderShadowColor: rgba(0, 0, 0, .3);

    border: solid 1px @borderShadowColor;
    border-width: 1px 0;

    box-shadow: 0 0 15px @borderShadowColor inset;

    & > div {
        position: relative;

        z-index: -1;

        height: 200%;
        width: 100%;

        background-position: center center;
        background-size: cover;

        transform: translateY(-25%);
    }
}