[class*=spinnerTest] {
    @spinnerDims: 2em;

    height: @spinnerDims;
    width: @spinnerDims;

    display: inline-block;
}

.spinnerTest2 {
    @spinnerDims: 18.4589em;

    height: @spinnerDims;
    width: @spinnerDims;

    display: inline-block;

    color: #ffa500;
}

.spinnerTest3 {
    @spinnerDims: 13.4569em;

    height: @spinnerDims;
    width: @spinnerDims;

    display: inline-block;
}