@keyframes spinner {
    to {
        transform: rotate(360deg) scale(1.0);
    }
}

.spinnersCss {
    .spinner {
        position: relative;

        &::after {
            @size: 36px;
            @half: (@size / 2);
            .iconFont('\f021');

            animation: 1.5s infinite spinner linear;
            font-size: @size;
            height: @size;
            line-height: @size;
            margin: -@half 0px 0px 10px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: @size;
        }

        &.steps {
            &::after {
                animation-timing-function: steps(8);
            }
        }
    }
}

.spinnersCss {
    padding-bottom: @gutter;

    li {
        overflow: visible;
    }

    li:nth-of-type(2) {
        color: #b8860b;
    }

    li:nth-of-type(3) {
        color: #fa8072;

        .spinner {
            .remFont(40px);

            &::after {
                .iconFont('\f013');
            }
        }
    }

    li:nth-of-type(4) {
        .spinner {
            &::after {
                .iconFont('\f110');
            }
        }
    }

    li:nth-of-type(5) {
        .spinner {
            color: #20b2aa;
            font-size: 3em;

            &::after {
                .iconFont('\f110');

                @size: 48px;
                @half: (@size / 2);

                font-size: @size;
                height: @size;
                line-height: @size;
                margin-top: -@half;
                width: @size;
            }
        }
    }
}
