header {
	$bg-color: $header-bg-color;

	background-color: $bg-color;
	padding: $main-section-padding;

	.icon-logo {
		text-decoration: none;
		//text-shadow: 0 0 5 darken($bg-color, 50%);
		text-shadow: 0 0 5px adjust-color($bg-color, $lightness: -50%);

		&:before {
			float: left;
			font-size: 2em;
			line-height: 1em;
			margin-top: -.08em;
			padding-right: .1em;
		}
	}

	a {
		color: $header-link-color;
	}
}
