/// <reference path="../vars/vars.less" />
/// <reference path="../mixins/static.mixins.less" />
/// <reference path="../mixins/mixins.less" />

.col,
.row {
    box-sizing: border-box;
    min-height: 1px;
}

.col {
    float: left;
    //@mainBodyBg
    border: solid @halfGutter rgba(255, 255, 255, .000000001);
    border-width: 0 @halfGutter;
}

.row {
    zoom: 1;
    clear: both;

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.colPush(@nbrCols: 1, @parentColSpan: @nbrColumns) {
    @singleColWidth: (100 / @parentColSpan);
    @currentWidth: unit(@singleColWidth * @nbrCols, %);

    margin-left: @currentWidth;
}

.colSpan(@nbrCols: 1, @parentColSpan: @nbrColumns) {

    @singleColWidth: (100 / @parentColSpan);
    @currentWidth: unit(@singleColWidth * @nbrCols, %);

    width: @currentWidth;
    //border: solid @halfGutter @mainBodyBg;
}

.section {
    margin: 0 auto;
    max-width: @siteWidth;
}
.outerGridWrapRow {
    margin-right: ~"-@{halfGutter}";
    margin-left: ~"-@{halfGutter}";
}

/*.mainContent {
    nav {
        .colSpan(2);
    }
    
    article {
        .colSpan(7);
    }
    
    aside {
        .colSpan(3);
    }
}*/

.colSpan1 {
    .colSpan(1);
}
.colSpan2 {
    .colSpan(2);
}
.colSpan3 {
    .colSpan(3);
}
.colSpan4 {
    .colSpan(4);
}
.colSpan5 {
    .colSpan(5);
}
.colSpan6 {
    .colSpan(6);
}
.colSpan7 {
    .colSpan(7);
}
.colSpan8 {
    .colSpan(8);
}
.colSpan9 {
    .colSpan(9);

    // how to make nested columns work
    .colSpan3 {
        .colSpan(3, 9);
    }
}
.colSpan10 {
    .colSpan(10);
}
.colSpan11 {
    .colSpan(11);
}
.colSpan12 {
    .colSpan(12);
}