.offGrid(@nbrCols: 1, @margin: 0, @parentWidth: @siteWidth) { 
    @marginPercentWidth: unit((@margin / (@parentWidth - @nbrCols)) * 100, %);
    @elemWidth: unit(((100 / @nbrCols) - @marginPercentWidth) - (@marginPercentWidth / @nbrCols), %);

    .boxSizing(border-box); 
    
    float: left;
    width: @elemWidth;
    margin: 0 0 @margin @marginPercentWidth;

    &:nth-child(@{nbrCols}n) {
        clear: right;
    }
}